# Force LF for all text files
* text=auto eol=lf

# Explicitly declare text files
*.go text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.tmpl text eol=lf
Makefile text eol=lf
Dockerfile* text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.tar.gz binary
*.zip binary
